# Arithmetic Operators 

<table>
    <tr>
        <td>Operation</td>
        <td>Operator</td>
    </tr>
    <tr>
        <td>Addition</td>
        <td>+</td>
    </tr>
    <tr>
        <td>Subtraction</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Multiplication</td>
        <td>*</td>
    </tr>
    <tr>
        <td>Division [Always returns a float number]</td>
        <td>/</td>
    </tr>
    <tr>
        <td>Integer Division [Floor division]</td>
        <td>//</td>
    </tr>
    <tr>
        <td>Exponentiation</td>
        <td>**</td>
    </tr>
    <tr>
        <td>Modulo</td>
        <td>%</td>
    </tr>
</table>

- Since exponentiation has higher precedence than -, -3 ** 2 will be interpreted as -(3 ** 2) and thus result in -9. To avoid this and get 9, you can use (-3) ** 2.

- operators with mixed type operands <b>convert</b> the integer operand to floating point

In [1]:
4 * 3.75 - 1

14.0

# Comparison Operators

 <table>
    <tr>
        <td>Operation</td>
        <td>Operator</td>
    </tr>
    <tr>
        <td>Greater than</td>
        <td>></td>
    </tr>
    <tr>
        <td>Less than</td>
        <td><</td>
    </tr>
    <tr>
        <td>Greater than or equal to</td>
        <td>>=</td>
    </tr>
    <tr>
        <td>Less than or equal to</td>
        <td><=</td>
    </tr>
    <tr>
        <td>is equal?</td>
        <td>==</td>
    </tr>
    <tr>
        <td>is not equal?</td>
        <td>!=</td>
    </tr>
</table>

- All comparison operators have the <b>same priority</b>, which is <b>lower than that of all arithmetic operators.</b>
- Comparisons <b>can be chained</b>. For example, a < b == c tests whether a is less than b <b>and moreover</b> b equals c.
- Comparison operators may be chained: X < Y < Z produces the same result as X < Y and Y < Z .
- The comparison operators <b>in</b> and <b>not in</b> check whether a value <b>occurs (does not occur)</b> in a sequence. 
- The operators <b>is</b> and <b>is not</b> compare whether two objects are really the same object; <b>this only matters for mutable objects like lists</b>.

In [2]:
a = 1
b = 2
c = 2

if(a < b == c):
    print("Yes")

Yes

In [3]:
x = 2
y = 4
z = 6

In [4]:
x < y < z

True

In [5]:
x < y > z

False

In [6]:
1 < 2 < 3.0 < 4

True

- Notice again how mixed types are allowed in numeric expressions (only); in the second test here, Python compares values in terms of the more complex type, float.

In [8]:
# Strange !

1.1 + 2.2 == 3.3

False

- This stems from the fact that floating-point numbers cannot represent some values exactly due to their limited number of bits—a fundamental issue in numeric programming not unique to Python, which we’ll learn more about later when we meet decimals and fractions, tools that can address such limitations.

# Logical operators

<table>
    <tr>
        <td>Operation</td>
        <td>Operator</td>
    </tr>
    <tr>
        <td>NOT</td>
        <td>not</td>
    </tr>
    <tr>
        <td>AND</td>
        <td>and</td>
    </tr>
    <tr>
        <td>OR</td>
        <td>or</td>
    </tr>
</table>

- Comparisons may be combined using the Boolean operators <b>and</b> and <b>or</b>, and the outcome of a comparison (or of any other Boolean expression) may be negated with <b>not</b>. 
- These have <b>lower priorities than comparison operators</b>; between them, <b>not has the highest</b> priority and <b>or the lowest</b>, so that A and not B or C is equivalent to (A and (not B)) or C.

# Variables and Assignemnt:

- Variables names can contain <b>alphanumeric</b> characters,but they <b>can't start</b> with a <b>digit</b> or any of <b>special characters except of _</b>
- Python allows <b>multiple assignments</b> for example: x, y = 2, 3

- Variables are created when they are first assigned values.
- Variables are replaced with their values when used in expressions.
- Variables must be assigned before they can be used in expressions.
- Variables refer to objects and are never declared ahead of time.

In [9]:
x = 5
_name = 'Alan Turing'
x, y = 5, 3

- When we type a = 3 in an interactive session or program file, for instance, how does Python know that a should stand for an integer? For that matter, how does Python know what a is at all?
- In Python, types are determined automatically at runtime, not in response to declarations in your code.

In [10]:
a = 3
a = 'spam'
a = 1.23

- This isn’t typical Python code, but it does work— a starts out as an integer, then be-comes a string, and finally becomes a floating-point number. 
- This example tends to look especially odd to ex-C programmers, as it appears as though the type of a changes from integer to string when we say a = 'spam' .

## The del Statement

- You can delete a variable after creating it

In [11]:
x = 5

In [12]:
x

5

In [13]:
del x

In [14]:
x

NameError: name 'x' is not defined

# If Statement

In [16]:
x = 5

if x == 0:
    print('The number = Zero')
elif x > 0:
    print('Positive')
else:
    print('Negative')

Positive

- There can be <b>zero or more</b> elif parts, and the else part is <b>optional</b>.

## Ternary selection

- Ternary selection (x is evaluated only if y is true)

In [18]:
y = True

x = 1 if y else 3

print(x)

1

- There is <b>no switch or case</b> statement in Python that selects an action based on a variable’s value.

# The for statement

- range(start, end)
- range(start, end, step)
- If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions.
- The given end point is never part of the generated sequence; <u>range(5) generates 5 values</u>.
- The <b>break</b> statement, like in C, breaks out of the <b>innermost</b> enclosing for or while loop.
- The <b>continue</b> statement, also borrowed from C, continues with the next iteration of the loop.

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

- It is <B>possible</b> to let the range start at <b>another number</b>, or to specify a <b>different increment</b> (even negative; sometimes this is called the ‘step’)

In [20]:
for i in range(5, 10):
    print(i, end = ' ')

5 6 7 8 9

In [21]:
for i in range(0, 11, 2):
    print(i, end = ' ')

0 2 4 6 8 10

- Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [22]:
string = 'Monty python'

for l in string:
    print(l, end = ' ')

M o n t y   p y t h o n

## The else clause:

- Loop statements [for and while] <b>may have</b> an <b>else clause</b>; it is executed when the loop <b>terminates</b> through exhaustion of the list (with for) or when the condition becomes false (with while), <u>but not when the loop is terminated by a break statement</u>.

- The loop else clause is also run if the body of the loop is never executed, as you don’t
run a break in that event either; in a while loop, this happens if the test in the header
is false to begin with.

In [26]:
string = "Strange "

for l in string:
    print(l, end = '')
else:
    print('feature!')

Strange feature!

In [27]:
i = 0

while i < 5:
    print(i, end = ' ')
    i += 1
    
else:
    print('It works also with while, when the condition becomes false !')

0 1 2 3 4 It works also with while, when the condition becomes false !